---
---

@import "{{ site.theme }}";
.nav {
    margin-top: 20px;
}
.nav .next:before {
    content: "← ";
    text-decoration-line: none;
}
.nav .prev:after {
    content: " →"
}
header h1 {
    margin: 0;
}
header {
    padding: 20px 0 10px 0;
}
